---

---

<header>
  <!-- <div class="search-bar">
        <form id="recipe-search">
        <input
            type="text"
            name="title"
            autocomplete="off"
            placeholder="Enter title"
        />
        <textarea name="content" id="content" placeholder="Enter content"
        ></textarea>
        <button type="submit">Search</button>
        </form>
    </div> -->

  <div class="logout">
    <button>Log Out</button>
  </div>
</header>
