---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <Navbar />
        <h2>Login to your Spotify account</h2>
        <button id="spotifyLoginButton">Login with Spotify</button>

        <script>
            // import dotenv from "dotenv";
            // dotenv.config();
            // import crypto from "crypto";
            // const generateRandomString = (length: number): string => {
            //     return crypto.randomBytes(60).toString("hex").slice(0, length);
            // };

            const spotifyLoginButton = document.querySelector(
                "#spotifyLoginButton",
            ) as HTMLButtonElement;

            spotifyLoginButton.addEventListener("click", async (e) => {
                e.preventDefault();

                const storedState = "ceamr02lvp04mvow";
                const authUrl =
                    `https://accounts.spotify.com/authorize?` +
                    new URLSearchParams({
                        response_type: "code",
                        client_id: "70b4395373244eb1b2f8d6a6c724a1e6",
                        redirect_uri: "http://localhost:3000/callback",
                        scope: "user-read-private user-read-email",
                        state: storedState,
                    }).toString();

                const response = await fetch("http://localhost:3000/state", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        storedState: storedState,
                    }),
                    credentials: "include",
                });

                if (response.ok) {
                    window.location.href = `${authUrl}`;
                } else {
                    console.error(`error: fetch failed`);
                }
            });
        </script>
    </body>
</html>
